.signup-title {
        text-align: left;
        padding: 10px 0;
}                                               

.signin-body {
        border: 2px solid #6C757D;
}

.signup-left, .signup-right {
        border: none;
}

.signup-right {
        margin-top: 34px;
        width: 100%
}

.btn-success {
        background-color: #C0C0C0;
        border-color: #ACACAC;
}

.form-control:focus {
        border-color: #000000;
}

.custom-control-input:checked {
        background-color: #000000;
}

#red-star {
        color: #FF0000;
}