<tr>
	<td>1</td>
	<td>2</td>
</tr>

<%
	console.log(data);
	var count = 0 ;
	for(var i = 0; i < data.length; i++) {
		var vo = data[i];
		count += 1;
%>

<tr data-no='<%= vo.no%>'>
		<td><%= count%></td>
		<td><%= vo.name%></td>		
</tr>
<%
	}
%>