
<tr>
		<td style="width:100px;"><%=lastNo%></td>
		<td style="width:250px;"><%=name%></td>
		<td style="width:180px;"><button class="btn btn-secondary btn-sm float-sm-right" data-no='<%=no%>'>삭제</button></td>
</tr>
