@charset "UTF-8";

.mobile-visible{}

.reg-review{width:100%; border: 1px solid #cecece; height:200px;}
.reg-review>p{font-size:2em}

.password-mod{
	margin-left:70px; 
	margin-top:30px;	
}

.password-mod tr{
	height:40px;
}

.qna-board-title{margin-right:150px;}

.product-group:hover{
    cursor: pointer;
}
.mobile-product-list{
	cursor:pointer;
}


.dropdown.d-none.d-lg-block>a:hover{
	-bottom: 1px solid #000000;
}

.product-list-custom{
	padding:0px;
	margin:0px;
	height : 30px;
	
}

.product-list-custom{
	width:80%;
	display:inline-block;
}

.list-span-custom{
	margin:0;
	padding:0;
	width:80%;
	
}

.product-button{
	
	height:40px;
	padding:0px;
}
#product-sort-button2{
	margin:0px;
	padding:10px;
	font-size:1em;
}

.detail-order-btn{
	width:45%;
	height:50px;
	margin-top:10px;
}


.order-title{
	margin-top:40px;
}

/* .mobile-product-detail-option{
	display:none;
} */

.table thead th,.table td{
	vertical-align:middle;
}

.mobile-cart{
	display:block;
	height:180px;
	
	background-color: #ffffff;
	margin-top:20px;
}

.mobile-order{
	display:block;
	height:180px;
	
	background-color: #ffffff;
	margin-top:20px;
	padding-top:40px;
}

.mobile-cart-count-btn button,
.mobile-cart-count-btn input{
    display: inline-block;
   width: 30px;
   height: 30px;

   margin: 0;
   padding:0;

   text-align: center;
}

.mobile-cart-list-img {
	
	width:15%;
	height:100px;
	margin:10px;
	display: inline-block;
}

.mobile-cart-list-box{
	width: 80%;
	display: inline-block;
	height:130px;
}

.mobile-cart-count-btn input{
    
}


.mobile-cart-list-box{
	
}

.mobile-cart-list-product-title{
	
	width:50%;
	padding:24px;
	font-size: 24px;
}
.mobile-cart-list-product-option.float-left{
	margin-left:24px;
}
.mobile-cart-list-product-option{
	width:50%;
	margin:0px;
}


.responsive-cart-btn-group button,
.responsive-cart-btn-group input{
    display: inline-block;
   width: 30px;
   height: 30px;
   margin: 0;
   padding:0;
   text-align: center;
}

.responsive-cart-img{
	width:10%;
	height:120px;
	margin:10px;
	display:inline-block;
}

.responsive-cart-img img{width:100%;height:100%;}

.responsive-cart-info{
	
	width : 80%;
	display:inline-block;
	height:80px;
	
}

.responsive-cart-product-title{
	
	width:80%;	
	font-size:24px;
	font-weight:bold;
	padding-top:15px;
	padding-left:15px;
	display:inline-block;
	
	
}

.responsive-cart-product-option{
	
	margin-left:20px;
	margin-top:5px;
	width:80%;
	display:inline-block;
	
}	


.responsive-cart-btn-group{
	width:100%;
	display:inline-block;
	
}
.responsive-cart-btn-group>label{
	font-size:24px;
	font-weight: normal;
	padding:5px;
}
.mobile-margin-left{
	display:none;
}
.moblie-cart-all-selector{
	display:block;
}

.mobile-margin-left{
	margin: 0px;
}

.mobile-cart-list-checkbox{
	padding:10px;
	height:30px;
	margin-top:5px;
}

.order-ship-group{
	border: 1px solid #000000;
	margin-top: 12px;
	margin-left:12px;
	padding: 0px 10px;
	width:160px;
}

.order-ship-group:disabled{
	border: 1px solid #000000;
	
}

.order-ship-dropgroup{
	margin-left:12px;
	
}
.order-ship-dropgroup>a{
	padding : 5px 0px;
	width:70%;
	margin:0px;
}


.margin-left-14{
	margin-left:14px;
}

#ship-option{
	display:inline-block; 
	width:12%; 
	margin-left:20px;
}
.mobile-mg-13{margin:0px;}

.mobile-block{display:none;}
.mail-custom{margin-left:15px; width:50%; display:inline-block}
.mypage-cart-count{font-size:2em; }
.review-img{float:left;display:inline-block;width:10%; height:100px; margin : 10px; margin-left:30px;}
.review-img img{width:100%;height:100%:}
@media(max-width:991px){
	.mobile-product-detail-option{
		
	}
	
	.order-title{margin-top:50px;}
	.mobile-visible{display:none;}
	#board-table th:nth-child(3){display:none}
	#board-table td:nth-child(3){display:none}
	
	.mypage-cart-count{font-size:1em; }
	.reg-review{height:100px;}
	.reg-review>p{font-size:1.2em;}
	.mobile-disvisible{display:none}
	
	.text-muted.mr-3 span{font-size:0.8em;}
	.review-box{width:50%;}
	.pl-xl-3 {display:inline-block}
	.pl-xl-3 span{font-size:0.8em;}
	.qna-board-title{margin:0px; }

	
	.review-box{width:75%;margin-top:5px;}	
	.review-img{width:50px;height:50px; margin:10px; margin-top:20px;}
	.mobile-block{
		display:block;
	}
	.mail-custom{width:70%}
	#board-table th{padding:2px; padding-bottom:5px; }
	#board-table td{padding:3px; font-size:0.8em;}
	
	.mobile-product-label{
		font-size: 1em;
	}
	.mobile-cart{
		height:100px;
	}
	
	.responsive-cart-img{
		height:50px;
		width:50px;
		margin:5px;
	
	}
	
	.responsive-cart-info{
		
		width:70%;
		padding:0px;
		margin:0px;
		
	}
	.responsive-cart-product-title{
		font-size:1em;
		padding:0px;
		margin:0px;
		
	}
	
	.responsive-cart-product-option{
		font-size:0.8em;
		padding:0px;
		margin-left:5px;
		
	}
	
	.responsive-cart-btn-group{
		margin:0px;
		width:100%;
	}
	.responsive-order-btn-group{
		margin:0px;
		width:120px;
		
	}
	
	.responsive-cart-btn-group>label{
		font-size:0.8em;
	}
	.responsive-cart-btn-group>label:nth-child(1),
	.responsive-cart-btn-group>label:nth-child(4){
		display:none
	}
	.responsive-cart-btn-group>label:nth-child(2){
		float:right;
		padding:0px;
		margin:0px;
	}
	
	.responsive-cart-btn-group>button,
	.responsive-cart-btn-group>input{
		padding:0px;
		margin:0px;
		font-size:0.6em;
		width:15%;
		height:15%;
		
	}
	
	.mobile-margin-left{
		width:35%;
		display:inline-block;
	}
	
	.cart-delete>a {
		font-size:0.8em;
		margin-left:10px;
		margin:0px;
	}
	
	.mobile-select-ship-list{
		display:block;
	}
	.ship-check-list>input,.ship-check-list>label{
		display: inline-block;
		margin-left:3.5px;
	}
	.order-ship-group{
		width:100%;
	}
	.order-ship-btngroup{
		width:100%;
	}
	
	.responsive-order-btn-group{
		font-size:0.6em;
		
	}
	.mobile-order{
		height:80px;
		padding-top:15px;
	}	
	.margin-left-14{
		margin-left:5px;
	}
	#ship-option{
		width:55%;
		margin:0px;
		margin-top:10px;
		
		
	}
	.ship-check-list{
		width:30%;
	}
	.ship-list,.ship-check-list{
		display:inline-block;
		
	}
	.ship-check-list>input{
		width:8px;	
	}
	
	.form-check-inline>input{
		width:8px;
	}
	.detail-review-title{
		font-size:32px;
		color:#C0C0C0;
	}
	.mobile-mg-13{margin-left:13px;}
}

