a{
	color:#000000;
}

.dropzone{
	padding:0px;
	
}

.dz-preview.dz-processing.dz-error.dz-complete.dz-image-preview{
	margin:13px;
	padding:0px;
}


.dz-error-message,
.dz-success-mark,
.dz-error-mark{
	width:0%	
	display:none;
}

.option-add-table{
	display:inline-block;
	
	text-align:center;
	margin:5px;
}

.option-add-table th {
	border:2px solid;
	background-color:#CDD3D4;
	height:40px;
}
.option-add-table tr,.option-add-table td {
	border:2px solid;
	text-align:center;
	height:30px; 
}

.option-add-table.border-right{
	border-right:solid 1px transparent;
}
#size-add, #color-add{
width:54px; 
height:28px; 
font-size:5px; 
margin:2px 0
}

.btn.btn-secondary.waves-effect.del{
width:54px; 
height:28px; 
font-size:5px; 
margin:2px 0
}

#color-option-name, #size-option-name{
	display:inline-block;
	width:130px; 
	height:28px;
	padding-top:0.3em;
<<<<<<< HEAD
}

#option-zone{
	margin-bottom:6px;
}
.option-zone{
	padding-top:5px;
	padding-bottom:5px;
	height:55px;

	border-right:solid 1px transparent;	
}

.ql-editor {
	border: 1px solid #CCCCCC;
}

.stock-table{
	display:inline-block;
	
	text-align:center;
	margin:5px;
}

.stock-table th {
	border:2px solid;
	background-color:#CDD3D4;
	height:40px;
}
.stock-table tr,.stock-table td {
	border:2px solid;
	text-align:center;
	height:30px; 
}