.scs-search{
    width: 250px;
    display:inline-block;
}

.scs-category {
    width:150px;
    display:inline-block;
}
.scs-submit{
    display:inline-block;
}
.row .col-lg-11{
    margin: 24px auto;
}
.form-inline.editableform .editable-input,
.form-inline.editableform .editable-buttons {
    display:inline-block;
}
.pagination-rounded{
    margin: 0 auto;
    position: absolute;
    left: 40%;
}
