.col-lg-12 .card-box .nav-pills .nav-item .nav-title-color{
    background-color: #ffffff;
    color: #6C757D;
}

.col-lg-12 .card-box .nav-pills .nav-item .active{
    background-color: #6C757D;
    color: #ffffff;
} 

