
.scs-search{
    width: 250px;
    display:inline-block;
}

.scs-category {
    width:150px;
    display:inline-block;
}
.scs-submit{
    display:inline-block;
}
.row .col-lg-11{
    margin: 24px auto;
}
.row .col-lg-11 .card-box  .settle-list .mb-0 .thead-light{
    margin: 0 auto;
    text-align: center;
}
.row .col-lg-11 .card-box  .settle-list .mb-0 .thead-light .settle-sum{
    font-size: 1.5rem;
    margin: 20px;
    padding:25px;
    width: 300px;
} 